!!!

%head
  %title OAuth.Email
  %link{href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel: 'stylesheet'}
  %link{href: '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel: 'stylesheet'}
  %link{href: '/stylesheets/application.css', rel: 'stylesheet'}
%body
  .container
    .row
      .col-sm-6.col-sm-offset-3= yield

%script{src: '//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'}
%script{src: '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'}
%script{src: '/javascripts/application.js'}
